.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.delete {
    color: rgb(209, 96, 96);
}

a, a:visited {
    color: var(--text-color);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: var(--background-color);
    color: var(--text-color);
}

#root {
    height: 100dvh;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--active-color) transparent;
}

.daily-notes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
}

.daily-notes-container input[type="text"] {
    text-align: center;
}

.daily-notes-container label {
    text-align: center;
}

.list {
    padding: 0;
}

.list li {
    list-style: none;
    margin-bottom: 12px;
    border-bottom: solid 1px #FFFFFF;
    padding-bottom: 12px;
}

.list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.select-field {
    margin-bottom: 24px;
}

.select-field,
.select-field select {
    width: 100%;
    text-align: center;
}

.select-field label {
    display: block;
    margin-bottom: 4px;
}

.day-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-item button {
    border: none;
    background: none;
    cursor: pointer;
}

.mission-progress {
    background: #a8a8a8;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: inline-block;
    transform: rotate(45deg);
    margin: 6px;
}

.mission-progress.active {
    background-color: var(--active-color);
}

.mission-progress:has(~ .active) {
    background-color: var(--active-color);
}

select {
    height: 32px;
    border-radius: 4px;
}

.day-selector-container button,
.mission-progress-container button {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.day-selector-container p {
    font-size: 64px;
    margin: 0;
}

input[type="text"],
select {
    height: 32px;
    border-radius: 4px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-left: 8px;
}

button {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.textless-btn {
    background: none;
    border: none;
    color: var(--active-color);
    cursor: pointer;
    font-size: 16px;
}

.new-item-form {
    display: flex;
}

.new-item-form input {
    flex: 1
}

.new-item-form button {
    width: 64px;
    margin-left: 4px;
}

.tracker-content {
    padding-left: 8px;
    padding-right: 8px;
}

.mission-day {
    font-size: 12px;
    font-weight: 200;
    margin: 8px 0 8px 0;
    text-align: center;
}

.mission-progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    background: rgba(255,255,255,0.1);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.weather-divider {
    border-top: 1px solid var(--active-color);
}

h2 {
    margin: 12px 0;
}

.fake-textless-btn {
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: block;
}

input[type="file"] {
    display: none;
}

input[type="checkbox"] {
    accent-color: var(--active-color);
}

.item-edit-btn {
    margin-top: 12px;
    padding: 0;
}

.item-modification-input {
    display: flex;
    align-items: center;
}

.item-modification-input button {
    color: var(--text-color);
}

.line-item button {
    color: var(--text-color);
}

.weather-report {
    text-align: center;
}

.progress-marker-option {
    margin-top: 4px;
}

.import-campaign-container {
    display: none;
}

.campaign-note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campaign-note-container:has(input) button {
    margin-top: 12px;
}

.campaign-note-container p {
    text-align: center;
}

/* md and above */
@media screen and (min-width: 768px) {
    .header {
        padding: 20px;
    }

    .section {
        max-width: 720px;
    }

    #root {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .day-selector-container {
        width: 320px;
    }

    .tracker-content {
        flex: 1;
        max-width: 720px;
        overflow: auto;
        overscroll-behavior: contain;
        padding-top: 12px;
        scrollbar-color: var(--active-color) transparent;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        max-width: 640px;
    }

    .list .line-item {
        padding: 4px;
        border-bottom: solid 1px var(--text-color);
        margin: 2px;
        justify-content: flex-start;
    }

    .mission-day {
        font-size: 12px;
        font-weight: 200;
        margin: 8px 0 8px 6px;
        text-align: start;
    }

    .list li {
        border-bottom: none;
        margin-right: 8px;
    }

    .mission-progress-container {
        justify-content: flex-start;
    }
}

:root {
    --text-color: #fafae2;
    --background-color: #121212;
    --active-color: #32c599;
}